*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home{
    width:100%;
    height:100vh;
    background-image:url("./bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.home .text{
    padding-left:80px ;
    z-index: 4;
}
.home .text P{
    font-size: 50px;
    font-weight: 40000;
}
.home .text p,h1,h3{
    color: #fff;
}
.home .text h1 span{
    color:#2FC8C0;
    font-size: 40px;
}
.home .text .link{
    margin-top: 20px;
    z-index: 2;
}
.home .text .link a{
    padding: 10px 20px;
    background-color: #2FC8C0;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    z-index: 12;
    transition: 0.5s;
}
.home .text .link a:nth-child(2){
    background: transparent;
    padding: 9px 30px;
    border:1px solid #fff;
    margin-left: 20px;
    text-decoration: none;
    color:#fff;
}
.home .text .link a:nth-child(2):hover{
    background-color: #fff;
    color: #000;
}
#btn1:hover{
    background: red;
    text-decoration: none;
    color:#fff;
}
.nav{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 34;
}
.nav.sticky{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav.sticky ul li a{
    color:#2FC8C0;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 5px 10px;
   
}
.nav .con a{
    padding: 5px 10px;
    background-color: #2FC8C0;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    position: relative;
    
}
.nav ul li a:hover{
    border-bottom: 1px solid #2FC8C0;
    
}
.nav .logo{
    font-size: 30px;
    color: #2FC8C0;
}
.nav .logo span{
    color: red;
    font-size: 20px;
}
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;

}
.about .imgbx{
    
}
.about .imgbx img{
    height: 90vh;
    border-radius:0 20px 20px 0;
}
.about .textbx h1{
    color: #000;
}
.about .textbx{
    padding-left: 100px;
    width: 40%;
    
}
.about .textbx h1{
    color: #2FC8C0;
    font-size: 40px;
}
.about .textbx hr{
    width: 100%;
    height: 5px;
    background-color:#2FC8C0;
}
.about .textbx h4{
    color:#2FC8C0;
    font-size:20px;

}
.about .textbx a{
    padding:10px 20px;
    background-color: #2FC8C0;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}
.about .textbx .link{
    margin-top: 20px;;
}
.about .textbx a:hover{
    border-radius: 0;
    transition: 0.5s;
}
.servise{
    width: 100%;
    height: 100vh;

}
#top{
    color: #2FC8C0;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.servise .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.servise .container .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 40vh;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.servise .container .card .textbx{
    position: absolute;
    width: 100%;
    height: 70%;
    bottom:0;
    background-color: #2FC8C0;
}
.servise .container .card .textbx p{
    font-weight:;
    padding: 5px;
}
.servise .container .card .textbx h1{
    padding: 5px;
}
.servise .container .card .iconbx{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    

} 
.servise .container .card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    background-color: #2FC8C0;
    clip-path: circle(10% at 90% 0%);
    -webkit-clip-path: circle(10% at 90% 0%);
    -moz-clip-path: circle(10% at 90% 0%);
    transition: 0.5s;
}
.servise .container .card:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}
.servise .container .card:hover::after{
    clip-path: circle(30% at 90% 0%);
    -webkit-clip-path: circle(30% at 90% 0%);
    -moz-clip-path: circle(30% at 90% 0%);
    transition: 0.5s;

}
.contect{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contect .textbx{
    width: 30vw;
    height: 75vh;
    transition: 0.5s;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),inset 0 0 10px rgba(0,0,0,0.5);
    border:3px solid #fff;
    transform: translateX(50%);
}
.contect .textbx h1{
    color: #2FC8C0;
    text-align: center;
    padding-left: 30%;
}
.contect .imgbx img{
    width: 30vw;
    height: 75vh;
    transition: 0.5s;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5)
}
.contect:hover .imgbx img{
    transform: translateX(0%);
    transition: 0.5s;
    transition-delay: 0.7s;
}
.contect:hover .textbx{
    transform: translateX(0%);
    transition: 0.5s;
    transition-delay: 0.7s;
}
.contect .imgbx{
    width: ;
    
}
.contect .textbx h3{
    color: black;
    padding-left: 10px;
    font-size:25px;
    line-height: 1.3;
}
.contect .textbx h3 span{
   color: #2FC8C0;
   font-size: 20px;
}
.contect .textbx hr{
    background-color: #2FC8C0;
    width:100%;
    height:3px;
}
.contect .textbx::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #2FC8C0;
    top:0;
    left:0;
    clip-path: circle(40% at 90% 0);
    -webkit-clip-path: circle(40% at 90% 0);
    -moz-clip-path: circle(40% at 90% 0);
}
.contect .textbx::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #2FC8C0;
    bottom:0;
    left:0;
    clip-path: circle(40% at 0% 90%);
    -webkit-clip-path: circle(40% at 0% 90%);
    -moz-clip-path: circle(40% at 0% 90%);
}
@media screen and (max-width:580px)
{
    .home{
        background-image: url("bg1.jpg");
    }
    .home .text{
        padding-left: 20px;
    }
    .about{
        flex-direction: column;
    }
    .about .imgbx img{
        height:50vh;
        border-radius: 10px;
        padding-top: 50px;
        width: 100%;
        object-fit: cover;
    }
    .about .imgbx{
        width: 90%;
        height: 50vh;

    }
    .about .textbx{
        width: 100%;
        padding-left: 25px;
        padding-top: 20px;
    }
    .servise{
        height: 120vh;
    }
    .servise .container{
        height: 110vh;
    }
    .servise .container{
        flex-direction: column;
    }
    .servise .container .card{
        width: 70%;
        margin-top: 10px;
    }

    .servise .container .card:hover{
        transform: translateY(0);
    }
    #top{
        padding-top: 0;
    }
    .nav{
        flex-direction: column;
        height:40px;
        background-color: #fff;
        justify-content: space-evenly;
        overflow: hidden;
        transition: 0.5s;
    }
    .nav ul li{
        display:block;
        margin-left: -25px;
        line-height: 2;
    }
    .nav.sticky ul li a{
        color:#fff;
    }
    .btn{
        width: 40px;
        height: 30px;
        background: #2FC8C0;
        position:fixed;
        top: 1%;
        right: 4%;
        z-index: 36;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn span{
        width: 90%;
        height: 2px;
        line-height: 2;
        margin-top: 5px;
        background-color: #fff;
    }
    .nav.active{
        height: 230px;
        transition: 0.5s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .nav.active ul li a{
        color: #2FC8C0;
    }
    .contect{
        flex-direction: column;
        position: relative;
        
    }
    .contect .textbx{
        position: absolute;
        width:  70%;
        transform: translateX(0) rotateY(90deg);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        z-index: 1;
        background-color: #fff;

    }
    .contect .imgbx{
        width:100%;
        position: absolute;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
    .contect .imgbx img{
        width: 70%;
        transform: translateX(70px);
    }
    .contect:hover .imgbx img{
        transform: translateX(70px) rotateY(90deg);

    }
    .conrect:hover .imgbx img{
        transform: ;
    }

}
